body {
    margin: 0;
    padding: 0;
    overflow: scroll;
    font-family: roboto, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: font;
}

/* For the first page */

.container-1 {
    height: 100vh;
    max-width: 100vw;
    background-color: #1f2937;
}

.header {
    display: flex;
}

ul {
    display: flex;
    list-style-type: none;
    color: white;
    margin-top: 20px;
    font-weight: bolder;
    font-size: 25px;
    margin-left: 160px;
}

nav {
    display: flex;
    list-style-type: none;
    color: white;
    margin-left: 400px;
    margin-top: 20px;
    gap: 15px;
    font-size: 18px;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: white;
}

.body-1 {
    display: flex;
    gap: 50px;
}

div .home-text {
    flex: 1.4;
    justify-content: center;
}

div  .big {
    margin-left: 200px;
    color:#f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

div .small {
    margin-left: 200px;
    color: #e5e7eb;
    font-size: 18px;
    margin-top: -45px;
}
div button {
    margin-left: 200px;
    background-color: #3882f6;
    color: white;
    padding: 10px 30px 10px;
    font-weight: bolder;
    font-size: 19px;
    border: none;
    border-radius: 10px;
}

div .img-ph {
    background-color: rgb(211, 209, 209);
    margin-top: 60px;
    height: 225px;
    margin-right: 100px;
    flex: 1;
    opacity: 0.4;
}

/* For the second page */

.container-2 {
    height: 70vh;
    max-width: 100vw;
    background-color: white;
}

.container-2 h1 {
    text-align: center;
}

.img-cont {
    display: flex;
    justify-content: center; 
    gap: 50px;
}

.img-ph-2 {
    background-color: inherit;
    margin-top: 20px;
    height: 160px;
    flex: 0 1 160px;
    border: 4px solid rgb(105, 116, 214);
    border-radius: 10px;
}

.img-text {
    display: flex;
    justify-content: center;
    gap: 54px;
}

.img-text  p {
    flex: 0 1 167px;
    font-size: 18px;
    text-align: center;
    margin-top: 8px;
}

/* For the third page */
.container-3 {
    height: 60vh;
    max-width: 100vw;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-3 > p {
    font-size: 35px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    margin-left: 300px;
    margin-right: 90px;
}

.container-3 > p:nth-child(2) {
    margin-top: -30px;
    margin-left: 860px;
    font-weight: bold;
    font-size: 23px;
    font-style: normal;
}












